@media only screen and (max-width: 860px) {
    .nav-but-wrap{
    display: inline-block;
    }
    .nav{
        position: fixed;
    }
    .nav__content{
        position: fixed;
    }
    .nav__list-item{
        opacity: 0;
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 32px;
    }
    .nav__list-item:last-of-type{
        margin-bottom: 0;
    }
    .nav__list-item a{
        padding: 15px;
    }
    .nav__list-item:first-of-type{
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 32px;
    }
    .nav__list-item:last-of-type a{
        padding: 30px 20px;
    }
    .nav__content{
        position: fixed;
        visibility: hidden;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
    }
    .logo-wrap{
        top: 10px;
    }
    .nav__list{
        display: block;
        right: 0;
    }
}


@media only screen and (max-width: 350px) {
    .components{
        flex-wrap: wrap;
        justify-content: center;
    }
}