@media only screen and (max-width: 650px) {
    header .container{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    header nav ul{
        flex-direction: column;
    }
    header nav ul li{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    header nav ul li:first-of-type{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    header nav ul li:last-of-type{
        margin: auto;
    }
}

@media only screen and (max-width: 360px) {
    header .container{
        flex-direction: column;
    }
}

@media only screen and (max-width: 350px) {
    .components{
        flex-wrap: wrap;
        justify-content: center;
    }
}