@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    padding: 0;
    margin: 0;
}
header{
    background-color: black;
    padding: 24px 0;
}
.container{
    max-width: 1168px;
    margin: auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
header nav ul li{
    margin-left: 10px;
}
header nav a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    display: inline-block;
    transition: 0.6s;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav ul li:first-of-type a{
    font-size: 13px;
}
header nav ul li:last-of-type{
    margin-left: 31px;
}
header nav ul li:last-of-type a{
    padding: 11px 20px;
    background-color: #FFFFFF;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
header nav ul li a:hover{
    transform: scale(1.1);
}
/*main banner section*/
.main_banner{
    background-image: url("../images/aperture_studios.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 461px;
    padding-bottom: 71px;
    position: relative;
}
.main_banner .container{
    max-width: 580px;
    margin: inherit;
    text-align: center;
}
.main_banner h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 1px;
}
.main_banner h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.main_banner p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.components{
    display: flex;
    position: absolute;
    right: 40px;
    bottom: 41px;
    list-style: none;
}
.components li{
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
.components li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/icon_4.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 7px;
}
.components li:nth-child(2):before{
    background-image: url("../images/icon_3.svg");
}
.components li:nth-child(3):before{
    background-image: url("../images/icon_2.svg");
    width: 32px;
}
.components li:last-of-type:before{
    background-image: url("../images/icon_1.svg");
    width: 10px;
}
.sunset_banner{
    background-image: url("../images/mountain.jpg");
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
    position: relative;
}
.leafs_banner{
    background-image: url("../images/leafs.jpg");
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
    position: relative;
}
.past_clients_banner{
    background-color: #000000;
    padding-top: 120px;
    padding-bottom: 100px;
}
.past_clients_banner .container{
    max-width: 1200px;
    text-align: center;
}
.past_clients_banner h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.past_clients_banner p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 82px;
}
.past_clients{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.past_clients a{
    max-width: 128px;
    display: block;
    transition: 0.6s;
}
.past_clients img{
    display: block;
    width: 50%;
}
.past_clients a:hover{
    transform: scale(1.1);
}
.starfall{
    background-image: url("../images/starfall.jpg");
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 300px;
    position: relative;
}
.getintouch{
    background-color: #000000;
    padding-top: 120px;
    padding-bottom: 108px;
}
.getintouch .container{
    max-width: 600px;
    text-align: center;
}
.getintouch h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.getintouch p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
}
.button{
    display: flex;
    justify-content: center;
}
.getintouch a{
    text-decoration: none;
    display: flex;
    margin-top: 22px;
    max-width: 154px;
    background: #FFFFFF;
    border-radius: 14px;
    transition: 0.6s;
}
.getintouch a::before{
    content: "";
    width: 32px;
    height: 32px;
    border-radius: 14px;
    margin: 5px 6px 5px 4px;
    background: #000000;
}
.getintouch a::after{
    content: "Get in touch";
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 9px 10px 13px 0;
}
.getintouch a:hover{
    transform: scale(1.1);
}
