@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.eot');
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Poppins-Regular.woff2') format('woff2'),
  url('../fonts/Poppins-Regular.woff') format('woff'),
  url('../fonts/Poppins-Regular.ttf') format('truetype'),
  url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "owl.carousel.css";
@import "owl.theme.default.css";
@import "menu.css";

$main_font: 'Puppins', sans-serif;
$black_color:black;
$white_color:white;
$grey_color:#C0C0C0;

*{
  padding: 0;
  margin: 0;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.container{
  max-width: 1168px;
  margin: auto;
}

header {
  background-color: $black_color;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: inline-block;
    }
  }
}

.logo-wrap {
  @include max-screen(860px) {
    top: 10px;
  }
}

.nav-but-wrap {
  @include max-screen(860px) {
    display: inline-block;
  }
}

.nav {
  @include max-screen(860px) {
    position: fixed;
  }
  .nav__content {
    @include max-screen(860px) {
      position: fixed;
      visibility: hidden;
      -webkit-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
    }
    .nav__list {
      @include max-screen(860px) {
        display: block;
        margin: auto;
        right: 0;
      }
      .nav__list-item {
        @include max-screen(860px) {
          margin-right: 0;
          margin-bottom: 20px;
          font-size: 32px;
        }
        &:last-of-type {
          @include max-screen(860px) {
            margin-bottom: 0;
          }
          a {
            @include max-screen(860px) {
              padding: 30px 20px;
            }
          }
        }
        a {
          @include max-screen(860px) {
            padding: 15px;
          }
        }
      }
    }
  }
}

.main_banner {
  background-image: url("../images/aperture_studios.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-top: 461px;
  padding-bottom: 71px;
  position: relative;
  .container {
    max-width: 580px;
    margin: inherit;
    text-align: center;
    h3 {
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $grey_color;
      margin-bottom: 1px;
    }
    h1 {
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 54px;
      line-height: 59px;
      color: $white_color;
      margin-bottom: 18px;
    }
    p {
      font-family: $main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $grey_color;
    }
  }
}

.components {
  display: flex;
  position: absolute;
  right: 40px;
  bottom: 41px;
  list-style: none;
  @include max-screen(350px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    margin-left: 16px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: $white_color;
    &:before {
      content: "";
      display: inline-block;
      background-image: url("../images/icon_4.svg");
      width: 16px;
      height: 16px;
      margin-right: 6px;
      position: relative;
      top: 7px;
    }
    &:nth-child(2):before{
      background-image: url("../images/icon_3.svg");
    }
    &:nth-child(3):before{
      background-image: url("../images/icon_2.svg");
      width: 32px;
    }
    &:last-of-type:before {
      background-image: url("../images/icon_1.svg");
      width: 10px;
    }
  }
}

.sunset_banner {
  background-image: url("../images/mountain.jpg");
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 300px;
  position: relative;
}

.leafs_banner {
  background-image: url("../images/leafs.jpg");
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 300px;
  position: relative;
}

.past_clients_banner {
  background-color: $black_color;
  padding-top: 120px;
  padding-bottom: 90px;
  .container{
    max-width: 1200px;
    text-align: center;
    h2 {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 42px;
      color: $white_color;
      margin-bottom: 15px;
    }
    p {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: $grey_color;
      margin-bottom: 72px;
    }
    .past_clients {
      display: flex;
      justify-content: space-around;
      align-items: center;
      a {
        max-width: 128px;
        display: inline-block;
        transition: 0.6s;
        &:hover {
          transform: scale(1.1);
        }
      }
      .sprite {
        background-image: url(../images/spritesheet.png);
        background-repeat: no-repeat;
        display: inline-block;
      }
      .sprite-chill {
        width: 128px;
        height: 36px;
        background-position: -5px -5px;
      }
      .sprite-hill {
        width: 128px;
        height: 30px;
        background-position: -143px -5px;
      }
      .sprite-riks {
        width: 128px;
        height: 78px;
        background-position: -281px -5px;
      }
      .sprite-stock {
        width: 128px;
        height: 32px;
        background-position: -419px -5px;
      }
      .sprite-stud {
        width: 128px;
        height: 20px;
        background-position: -557px -5px;
      }
    }
  }
}

.starfall {
  background-image: url("../images/starfall.jpg");
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 300px;
  position: relative;
}
.getintouch {
  background-color: $black_color;
  padding-top: 120px;
  padding-bottom: 108px;
  .container {
    max-width: 600px;
    text-align: center;
  }
  h2 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: $white_color;
    margin-bottom: 15px;
  }
  p {
    font-family: $main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: $grey_color;
  }
  .button {
    display: flex;
    justify-content: center;
    a {
      text-decoration: none;
      display: flex;
      margin-top: 22px;
      max-width: 154px;
      background: $white_color;
      border-radius: 14px;
      transition: 0.6s;
      &:hover {
        transform: scale(1.1);
      }
      &::before {
        content: "";
        width: 32px;
        height: 32px;
        border-radius: 14px;
        margin: 5px 6px 5px 4px;
        background: $black_color;
      }
      &::after {
        content: "Get in touch";
        font-family: $main_font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $black_color;
        padding: 9px 10px 13px 0;
      }
    }
  }
}
